# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


# Python virtaul enviroment
env/

# Byte-compiled / optimized / DLL files
TT_Backend/**/__pycache__/
*.py[cod]
TT_Backend/django_API_TT/__pycache__
TT_Backend/teachers/__pycache__

